<div class="container">
   <div class="panel panel-default">
      <div class="panel-heading">Terms and Conditions of www.PickemSports.com</div>
   <div class="panel-body">
      <h4>Terms and Conditions</h4>
      <p>Last Updated: July 17, 2016</p>
      <p>Please read these Terms and Conditions (the "Terms") carefully before using the http://www.PickemSports.com website (the "Service") operated by our company: Pick'em Sports.</p>
      <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these set Terms. The Terms apply to each and every visitor, user, and any others who in which access or use the Service.</p>
      <p>By accessing or using the Service you agree to be bound by the Terms. If you disagree with any part of the terms then you may not access the Service</p>
      <strong>Leaderboard and Contest Points Accumulation:</strong>
      <p>User's contest points are calculated as follows: <br>
         [(total participants in contest - user rank within contest) x 10] + (number of gold medals x 0.75) + (number of silver medals x 0.50) + (number of bronze medals x 0.25).
      </p>
      <strong>Termination Clause:</strong>
      <p>We may terminate or suspend access to our Service immediately, without prior notice or liabilit, for any reason whatsoever, including but not limitation if you breach the Terms.</p>
      <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
   </div>
</div>
</div>
